{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {# ADD LOGO HERE #}
    <h1>Inscrivez-vous gratuitement</h1>

    {% include 'includes/registration.html.twig' %}

    <p>Vous avez déjà un compte ?</p> {# ADD LOGIN BUTTON HERE #}
{% endblock %}