body { background: #fff9f1; }

.tab-content > div { min-height: 100vh; }

.instruction > :first-child {
    background: #fff;
    text-align: justify; }

.instruction > :first-child p { margin: 0; }

.flex-step { min-height: 100vh; }

.mobile-step { padding: 10px; }
.map-container { position: relative; }

#map {
    min-height: calc(100vh - 60px);
    width: 100%; }

#error {
    display: none;
    padding: 10px;
    position: absolute;
    text-align: justify;
    top: 0;
    left: 0; }

/* Add observation "previous step" & "next step" buttons*/
.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%; }

.nav-buttons > :first-child { margin-left: 15px; }
.nav-buttons > :last-child { margin-right: 15px; }

a[class^='step-link'] {
    background: #fbb03b;
    border-radius: 50%;
    color: #fff;
    padding: 12px 14px;
    text-decoration: none; }

a[class^='step-link']:hover { color: #fff; }
.step-link { display: inline-block; }

.step-link-map {
    position: absolute;
    bottom: 0;
    right: 15px; }

.add-obs-submit {
    background: #8CC63F;
    border-radius: 50%;
    color: #fff;
    padding: 11px 13px;
    text-decoration: none; }

.fields { margin: 0 15px; }

/* Add an image */
#observation_image label { display: none; }

.upload-btn-wrapper {
    overflow: hidden;
    position: relative;
    text-align: center; }

.upload-btn-wrapper .btn {
    background: #298ee2;
    color: #fff;
    padding: 15px;
    font-weight: bold; }

.upload-btn-wrapper .btn span { font-size: 100px; }

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0; top: 0;
    opacity: 0; }

#observation_comment {
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .step-link { display: none; }
}