/** FONTS IMPORT **/
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* HEADER */
.header-home {
    min-height: calc(100vh - 64px);
    background: url("../images/aigle-extrait-video.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%; }

.motto {
    color: #fff;
    font-size: 1.5em;
    font-weight: lighter; }

.typed h1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #333; }

.type {
    color: #8CC63F;
    font-size: 30px;
    text-shadow: 2px 2px 4px #333; }

.typed-container h3, h4 {
    line-height: 1.4;
    margin-top: 20px;
    font-size: 20px; }

.typed h2, .typed h3 {
    font-size: 23px;
    text-shadow: 2px 2px 4px #333;
}

.green { color: #8CC63F; }
.glyphicon-heart { color: red; }

.register-xs {
    background: #FBB03B;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 10px 15px;
    margin: 15px auto 30px auto;
    text-align: center;
    width: 250px;
    outline: 0; }

.register-xs:hover {
    color: #fff;
    text-decoration: none; }

.errors { min-height: 18px; }

/* SECOND BLOC */
.operation {
    background: #fff9f1;
    padding-top: 40px;
    padding-bottom: 60px; }

.operation img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px 10px 0 0; }

.operation h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px; }

.sliders {
    display: block;
    padding: 0 15px; }

.slider {
    background-color: white;
    box-shadow: 0 3px 6px -2px #333;
    height: inherit;
    border-radius: 10px;
    text-align: center; }

.operation h3 {
    color: #8CC63F;
    font-size: 18px; }

.operation p {
    padding-right: 5px;
    padding-left: 5px; }

.operation .slider a {
    display: inline-block;
    color: #8CC63F;
    border: 1px solid #8CC63F;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px; }

.target-links { text-align: center; }

.target-links a {
    border: 1px solid #8CC63F;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    margin-top: 15px;
    width: 15px; }

.target-links a:not(:last-child) { margin-right: 5px; }

/* USER (QUI UTILISE L'APPLICATION NAO) */
.users{
    background-color: #BCE486;
    padding: 60px 70px;
    /*display: flex;*/
}

.usersContent{
    display: flex;
    justify-content: space-around;
}

.users h2{
    margin-top: 0;
    text-align: center;
    padding: 15px;
}

.userType{
    background-color: white;
    text-align: center;
    max-width: 300px;
    padding: 20px;
    border-radius: 3px;
}

.partners{
    background: white;
    text-align: center;
    border-radius: 3px;
    padding-right: 30px;
}

.join-us{
    text-align: center;
    border-bottom: 1px solid #8CC63F;
    padding: 10px 0;
}

.greenLink{
    color: white;
    background-color: #8CC63F;
    padding: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

.join-us a:hover{
    background-color: #75a735;
}

/* FOOTER */

footer{
    background-color: #FFF9F1;
    padding-top: 10px;
}

footer h2{
    margin-top: 0;
}
footer{
    display: flex;
    justify-content: space-around;
    min-height: 200px;
}
.explorer, .about{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.explorer a, .about a{
    color: black;
}

.don a{
    color: white;
    background-color: #FBB03B;
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
    text-decoration: none;
}

.don{
    margin-top: 30px;
}

.newsletter{
    border: 2px solid #8CC63F;
    padding: 5px 15px;
}

.newsletter h4{
    text-align: center;
}

.newsletter input{
    border-color: #8CC63F;
}

.newsletter a{
    color: black;
    text-decoration: underline;
}


/*******************************************\
         -->  MEDIA QUERIES <--
\*******************************************/

/* Special rules for mobile devices */
@media screen and (max-width: 768px) {
    /* HEADER */
    .typed {
        color: #fff;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 64px);
        justify-content: space-between; }

    .typed > div:not(:first-child) {
        padding: 0 15px;
        text-align: center; }

    /* SECOND BLOCK */
    .sliders > div { margin: 0 auto; }

    .sliders #target2, .sliders #target3 { display: none; }
}

/* Responsive for devices from 768 to 991px */
@media screen and (min-width: 768px) {
    /* HEADER */
    .header-home { background: rgba(0,0,0,.5); }

    .container-header {
        min-height: calc(100vh - 64px);
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: '. t t t t t t s s s s .'; }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -100; }

    .typed-container{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: center;
        grid-area: t;
        padding-right: 60px; }

    .typed h1 { font-size: 30px; }
    .type { font-size: 30px; }
    .typed h2, .typed h3 { font-size: 1.6em; }
    .typed h4 { font-size: 1.3em;}

    .subscribe-form-container {
        grid-area: s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: black; }

    .subscribe-form-container img {
        height: 100px;
        margin-top: 10px;
        width: 100px; }

    .subscribe-form {
        background-color: rgba(212,212,212,.8);
        border-radius: 5px; }

    .subscribe-form p { font-size: .8em; }

    .subscribe-form a {
        color: #3b3b3b;
        text-decoration: underline; }

    .subscribe-form h4 {
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 1.3em;
        margin-top: 5px;
        padding: 0 10px; }

    .subscribe-form-container input {
        border-color: #8CC63F;
        border-radius: 8px;
        margin-top: 10px; }

    .and-word {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: -10px;
        position: relative;
        overflow: hidden;
        width: 100%;
        font-weight: bold;
        font-size: 1.6em;
        text-align: center; }

    .pwd-details { font-size: .8em; }

    .subscribe-form form button {
        background: #FBB03B;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 4px 12px -2px rgba(0,0,0,0.75);
        color: #fff;
        font-size: 20px;
        padding: 10px 15px;
        margin: 15px 0; }

    .terms-and-conditions {
        margin-top: 5px;
        margin-bottom: 0; }

    .mandatory {
        color: red;
        font-size: .9em; }

    input::placeholder{ color: grey; }

    /* SECOND BLOCK */
    .operation {
        background: url("../images/fondDektop.png") no-repeat 0 50%;
        background-size: cover; }

    .operation h2 { font-size: 30px; }

    .sliders {
        display: grid;
        grid-template-columns: repeat(3, 1fr); }

    .slider {
        width: 295px;
    }
}

/* Responsive for devices from 992 to 1199px */
@media screen and (min-width: 992px) {
    /* HEADER */
    .container-header { grid-template-areas: '. t t t t t t s s s s .'; }

    .typed h1 { font-size: 50px; }
    .type { font-size: 50px; }
    .typed h2, .typed h3 { font-size: 35px; }
    .typed h4 { font-size: 25px;}

    .subscribe-form h4 { font-size: 1.5em; }
}

/* Responsive for devices from 1200px to higher */
@media screen and (min-width: 1200px) {
    /* HEADER */
    .container-header { grid-template-areas: '. t t t t t t t s s s .'; }
    .subscribe-form p { font-size: .9em; }
}