/* ------------------------------------------------------------Style champs de saisie simple */
    input[type=text] {
        width:100%;
        height: 44px;}

.border-green, .fr-box, input[type=text], .fr-toolbar {
    border : solid 1px #8CC63F;
    border-radius : 9px;
}

/* --------------------------------------------------------------------Style Liste d'article */
    .hr {
       display : none;}

.button-add {
    width: 56px;
    height:56px;
    border-radius : 50%;
    background-color: #FBB03B;
    color: #fff;
    position: fixed;
    bottom:24px;
    right: 24px;
    border-style: none;
    font-size: 28px;
    z-index : 9999;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
}

.button-add span {
    padding-top: 5px;
    padding-left: 2px;
}

/* ------------------------------------------------------------Style UICard */
    .uiCard {
        position: relative;
        width: 315px;
        height : 360px;
        background-color: #fff;
        margin: 0 auto;
        margin-bottom : 20px;
        box-shadow: 0px 3px 20px rgba(0,0,0,0.3);
        overflow: hidden;}

    .uiCard a {
        text-decoration: none;
        color: #3b3b3b;
    }

    .uiCard__body {
        font-size : 18px;
        line-height : 26px;
        width: 275px;
        margin: 0 auto;}

    .uiCard__title h3{
        font-size : 30px;
        font-weight: 700;
        height: 68px;
        margin: 9px 0 0 0;}

        /* ----------------------------------------------------Style image */
        .uiCard__thumb {
            width : 315px;
            height: 180px;
            overflow: hidden;
            background-color: black;
            transition : 0.3s;}

        .uiCard__thumb img {
            width : 100%;
            opacity: 1;
            transition : 0.3s;}

    .uiCard__description p {
        width: 275px;
        height: 56px;
        margin : 0 auto;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow : hidden;
        transition : 0.3s;}

    .uiCard__date span {
        display: block;
        text-align: center;
        font-size: 13px;}

    .uiCard__date {
        position : absolute;
        top : 24px;
        right: 24px;
        background-color: #8CC63F;
        width : 40px;
        height: 40px;
        border-radius: 50%;
        color: #fff;}

    .uiCard__month {
        text-transform: uppercase;}

    .uiCard__footer {
        position : absolute;
        width : 295px;
        display: flex;
        justify-content: space-between;
        bottom: 10px;
        margin: 0 10px;}

    .uiCard__footer span {
        margin-right: 5px;}

    .uiCard__icon-green {
        color : #8CC63F;
        margin-right : 5px;
        font-size: 18px;
        top: 4px;}

    .uiCard__trash {
        color : #FF6D6D;
        top : 5px;}

        /* ----------------------------------------------------Style UI Card tablet & Desktop */
        @media (min-width : 768px) and (max-width : 1199px){
            .uiCard {
                width: 295px;}

            .uiCard__footer {
                width: 275px;}
        }
        /* ----------------------------------------------------Animation UI Card*/

        .uiCard:hover .uiCard__thumb{
            height : 80px;
            transform: scale(1.2);}

        .uiCard:hover .uiCard__description p {
            height: 157px;}

        .uiCard:hover .uiCard__thumb img {
            opacity: 0.5;}
/* --------------------------------------------------------------------Fin de style pour UICard */
/* --------------------------------------------------------------------Fin de style pour Liste d'article */

/* --------------------------------------------------------------------Style pour Insertion d'article */
/*
.fr-box {
margin : 10px;
}

#article_form_title {
    font-family: 'Roboto';
    font-size : 16px;
    padding-left: 10px;
}

.insert-image input[type=file] {
    display: none;
}

.insert-image label[for=article_form_image_file] {
    cursor: pointer;
    background-color: #298EE2;
    width : 48px;
    height:48px;
}
*/
/* --------------------------------------------------------------------Style pour Affichage d'un article */

.article-title {
    background-color: rgba(0,0,0,0.5);
    font-family : 'FranklinDC', sans-serif;
    position: absolute;
    bottom:0;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    color : #fff;
}

.article-image img {
    width: 100%;
    min-height: 250px;
}

.article-image {
    height: 250px;
    overflow: hidden;
}

.article-heading>div {
    padding:0;
}

.article-heading {
    position: relative;
}

.article-content {
    font-size: 20px;
    margin: 5px 10px 0 10px;
}

.article-meta {
    display:flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: baseline;
}
.article-meta h4 {
    text-align: right;
    margin: 0;
    font-style: italic;
    font-weight : 500;
    font-size: 20px;
}

.article-date {
    font-size: 18px;
}

/* ----------------------------------------------------Style Pagination */
.article-pagination {
    display:flex;
    justify-content: space-between;
    margin-top : 35px;
}

.button-article-pagination {
    text-align: center;
    width: 110px;
}

.button-article-pagination button {
    width:40px;
    height:40px;
    border-radius:50%;
    color: #fff;
    background-color : #FBB03B;
    border-style: none;
}

.button-article-pagination button span {
    margin-top: 3px;
}
/* ---------------------------------------------------- Style boutons admin */
.article-admin {
    text-align: right;
    margin-right:10px;
}
.article-admin span {
    margin-right: 5px;
}

.article-admin a {
    text-decoration: none;
}
.article-edit {
    color: #FBB03B;
}

.article-remove, .deleteButton {
    color: #FF6D6D;
}
/* ----------------------------------------------------Style Commentaires */


.article-comment h2 span {
    margin-right : 5px;
    font-size : 24px;
}

.article-comment h2 {
    font-size: 24px;
}
.article-comment-heading {
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.article-comment-profile {
    height:28px;
    width:28px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: -3px;
}
.article-comment-profile-picture {
    height:28px; 
}

.article-comment-info {
    margin-left: 5px;
}
.article-comment-info h4 {
    margin:0;
    font-size: 18px;
}

.article-comment-info span {
    font-size: 14px;
    font-style: italic;
}
.deleteButton, .article-write-comment .submitButton {
    background: rgba(0,0,0,0);
    border: none;
    text-align: right;
}

.article-comment-admin {
    text-align: right;
}

/* ----------------------------------------------------Style pour Insertion de commentaires */
.icon-write {
    display: inline-block;
    background-color: #8CC63F;
    color :#fff;
    border-radius: 50%;
    padding:5px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
}

.article-write-comment h2 {
    font-size: 24px;
}

.article-write-comment-form {
    width: 90%;
}
.article-write-comment label {
    display:none;
}

.article-write-comment textarea {
    width: 100%;
    height: 115px;
    border: 1px solid #8CC63F;
    margin: 0 5%;
    border-radius : 10px;
    padding: 10px;
    font-family: 'Roboto';
}

.article-write-comment .submitButton {
    font-size: 18px;
    font-family:'Roboto';
    font-weight: 700;
    color: #8CC63F;
}
/* ----------------------------------------------------Style version desktop */
@media (min-width : 768px) {
    .article-title {
        font-size: 70px;
        text-align: right;
        padding-right:10px;
    }
.comment {
    width:80%;
    margin:0 auto;
    margin-bottom : 10px;
    background-color: #E5E5E5;
    padding: 5px 12px 9px 12px;
    border-radius: 10px;
}
    .article-image {
        height:320px;
    }
    .article-image img {
    min-height: 320px;
}
}

@media (min-width : 990px) {
    .article-image {
        height:640px;
    }
    .article-image img {
    min-height: 640px;
}
}
