<div class="admin-nav light-green-bg">
    <div>
        <a href="{{ url('admin.index') }}">
            <div class="to-index txt-white text-center {% if app.request.get('_route') == 'admin.index' %}orange-bg{% else %}green-bg{% endif %}">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                <h5 class="no-margin">Statistiques</h5>
            </div>
        </a>
    </div>

    <div>
        <a href="{{ url('admin.users') }}">
            <div class="to-users txt-white text-center {% if app.request.get('_route') == 'admin.users' %}orange-bg{% else %}green-bg{% endif %}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <h5 class="no-margin">Utilisateurs</h5>
            </div>
        </a>
    </div>

    <div>
        <a href="{{ url('admin.observations') }}">
            <div class="to-observations txt-white text-center {% if app.request.get('_route') == 'admin.observations' %}orange-bg{% else %}green-bg{% endif %}">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <h5 class="no-margin">Observations</h5>
            </div>
        </a>
    </div>
</div>