<div class="join-us text-center">
    <h2>
        Aidez-nous à <span class="txt-green">préserver la nature</span> et
        <span class="txt-green">faire avancer la science</span>
    </h2>

    <a href="{{ url('security.register') }}" class="green-link">REJOIGNEZ-NOUS</a>
</div>