<h3>Bonjour {{ user.firstname|capitalize }} !</h3>

<p>
    Nous vous avons générer un nouveau mot de passe temporaire : <strong>{{ pass }}</strong><br>
    Par sécurité, nous vous suggérons de le modifier via le lien <em>modifier</em> de votre
    profil immédiatement après avoir lu cet e-mail.
</p>

<p>Cordialement,</p>

<p>L'équipe</p>