{% use 'form_div_layout.html.twig' %}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        {%- for error in errors -%}
                {{ error.message }}
        {%- endfor -%}
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}