{% extends 'base.html.twig' %}
{% block title %}
    Mes brouillons
{% endblock %}
{% block body %}
    {% for article in articles %}
            <table>
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date de création</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ article.title }}</th>
                    <th>{{ article.content | slice(0, 10) }}</th>
                    <th>{{ article.createdAt | date('d/m/Y') }}</th>
                    <th>
                        <a href="{{ path('blog.edit_article', {'id' : article.id }) }}" class="txt-orange"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="txt-orange"><span class="glyphicon glyphicon-trash"></span></a>
                    </th>
                </tr>
                </tbody>
            </table>
    {% endfor %}
{% endblock %}